.box1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkgreen;
}

.box2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4d5d53;
}

img {
    width: 700px;
    height: 700px;
}

.section1, .section2 {
    color: black;
    text-decoration: none;
    padding: 20px 30px;
    background-color: yellow;
    border-radius: 5px;
    font-size: 20px;
    border: 3px solid black;
}

.section1:hover, .section2:hover {
    background-color: white;
}